@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-image: url("../static/img/softwareBG.png?v=1");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

/* Estilo da Navbar */
.navbar {
    background-color: #5F5AA2;
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-item {
    list-style: none;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #ff6347; /* Cor laranja claro ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-menu {
        flex-direction: column;
        width: 100%;
    }

    .navbar-item {
        width: 100%;
    }

    .navbar-link {
        padding: 10px 0;
        width: 100%;
        text-align: left;
    }
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Faz com que o container ocupe toda a altura da viewport */
}

.header-text strong {
    font-size: 100px;
    color: #fff;
    margin-bottom: 10px; /* Distância de 10 pixels entre header-text strong e header-text p */
    }

.header-text p {
    font-size: 25px;
    white-space: pre-line;
    color: #fff;
}
