{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}?v=1">

    <title>IntelliAdmin</title>
</head>
<body>

    <nav class="navbar">
        <div class="navbar-container">
            <a href="{% url 'home' %}" class="navbar-logo">IntelliAdmin</a>
            <ul class="navbar-menu">
                <li class="navbar-item"><a href="{% url 'sobre' %}" class="navbar-link">Sobre</a></li>
                <li class="navbar-item"><a href="{% url 'login_sindico' %}" class="navbar-link">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="header-text">
            <strong>IntelliAdmin</strong>
            <p>Gerencie seu condomínio<br>de forma inteligente!</p>
        </div>
    </div>

</body>
</html>