{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelliAdmin</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'telaLogin.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        ::placeholder {
            color: #bbb;
            opacity: 1;
        }
    </style>
</head>
<body>
    <div class="wrapper">

<!-- Exibição de mensagens de erro ou sucesso -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    

        <form method="POST" action="{% url 'sindico_login' %}">
            {% csrf_token %}
            <h1>IntelliAdmin</h1>
            <div class="register-link">
                <p>Cadastro de Sindico?
                <a href="{% url 'cadastrar_sindico' %}">Entre aqui</a></p>
            </div>
            <div class="input-box">
                <h3 class="subtitle">E-mail</h3>            
                <input type="email" name="email" placeholder="Digite seu e-mail" required>
            </div>
            <div class="input-box">
                <h3 class="subtitle">Senha</h3>                    
                <input type="password" name="password" placeholder="Digite sua senha" required>
            </div>
            <button type="submit" class="btn">Entrar</button>
        </form>
    </div>
</body>
</html>
